[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Ubuntu_Calculator
Exec=/opt/Ubuntu_Calculator/bin/Ubuntu_Calculator
Icon=Ubuntu_Calculator64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
